@import '../../scss/mixins';

.education {
    border-top: 1px solid #C4C4C4;

    color: #23120B;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;

    .toggler {
        display: block;
        width: 100%;
        height: 1px;
    }

    .feild__toggler {
        @include padding;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #C4C4C4;

        img {
            rotate: 180deg;
            transition: all .3s ease;
        }

        .rotate {
            rotate: 0deg;
            transition: all ease .3s ease-in-out;
        }
    }

    >div {
        padding: 1rem 0;
    }

    &__background {
        display: grid;
        grid-template-columns: 200px 200px max-content;

        p {
            padding: .7rem 1rem;
            text-align: center;
            // margin: 0;


            &:nth-child(2) {
                border-left: 1px solid #FDB827;
                border-right: 1px solid #FDB827;
            }
        }

        #degree {
            margin: 1rem 15rem;
            max-width: 500px;
        }
    }
}

@media screen and (max-width:780px) {
    .education {
        .feild__toggler {
            .background {}

            p {
                padding: 0;
            }
        }
    }
}