// @import '../scss/mixins';

.Buttoned {
    background: #5E5DBA;
    color: #F2F2F2;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    padding: 1rem 4rem;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    font-family: 'monsterrat';
    margin: 2rem 0;
    box-shadow: 4px 4px 10px 4px #21209C33;
}

button {
    background-color: transparent;
    border: none;
    color: #F2F2F2;
}

.connectbutton {
    border: 3px solid #878787;
    padding: 1rem 3rem;
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: 700;
    color: #878787;
    border-radius: 25px;
}

.signbutton {
    background: #5E5DBA;
    color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    padding: 1rem 4rem;
    text-align: start;
    margin: 2rem 0;
    // font-size: 20px;
    font-weight: 500;
    // font-family: 'monsterrat';
}

.LinkButton {
    background: #5E5DBA;
    color: #F2F2F2;
    font-family: 'Poppins';
    font-size: 26px;
    font-weight: 700;
    padding: 1rem 3.4rem;
    display: block;
    margin: 2rem auto;
    border-radius: 25px;
    box-shadow: 0px 4px 20px 0px #04558F33;



}