@import '../../../../scss/mixins';


.about {
    .about-me {
        // text-align: center;

        textarea {
            outline: none;
            margin: 1rem 0;
            border-radius: 25px;
            border: 0.5px solid #5E5DBA;
            padding: .4rem 2rem;
            font-size: 1rem;
        }


    }
}