@import '../../../../scss/mixins';


.edit-about {
    @include padding;
    display: flex;
    gap: 2rem;

    .about-me {
        form {

            >div {
                display: flex;
                align-items: center;
                gap: .4rem;
            }

            p {
                color: #7C7BF5;
            }
        }

        .About {
            text-align: center;
            box-shadow: 0px 4px 20px 0px #21209C33;
            border-radius: 25px;
            padding: 1rem 1.2rem;
            background-color: #FFFFFF;


            input {
                border-radius: 25px;
                border: 0.5px solid #5E5DBA;
                padding: .4rem 2rem;
                font-size: 1rem;
                outline: none;
                margin: 1rem 0;
            }
        }
    }
}

@media screen and (max-width:980px) {
    .edit-about {
        display: block;

        .about-me {
            .About {
                margin: 1rem 2rem;
                padding: 1rem;
            }
        }
    }
}