@import '../../../../scss/mixins';


.option-intro {
    padding-bottom: 12rem;

    .more-options {
        float: right;
        @include padding;

        .option-content {
            display: flex;
            align-items: center;
            gap: .7rem;
            margin: 1rem 0;
        }

        button {
            color: blue;
            font-family: "Open Sans";
            font-size: 18px;
            font-weight: 400;
            outline: none;
        }

        .options {
            @include flex-align-center;

            .option {
                padding: .4rem 2rem;
                background-color: white;
                box-shadow: 4px 4px 4px 0px #00000040;
                border: 0.5px solid #5E5DBA;
                font-family: 'Montserrat';
                font-size: 18px;
                font-weight: 700;
                border-radius: 25px;
                margin: 1rem 0;

                p {
                    color: #EB5757;
                }

                p,
                h4 {
                    margin: .6rem 0;
                }
            }
        }
    }
}