@import '../scss/mixins';

.intro-to {
    background-color: #E6E6E8;
    @include padding;
    @include flex-space-between;

    .intro {
        .introduction {
            margin: 3rem 0;
            background-color: #FFFFFF;
            @include padding-top;
            padding: 3rem 2rem;
            border-radius: 20px;
            box-shadow: 0px 4px 20px 0px #0000000D;
            flex-basis: 300px;

            .mathematics {
                display: block;
                margin: 0 auto;
                padding: 2rem 0;

                a {
                    margin: 0 0 0 35rem;
                    text-align: left;
                    color: #000000;
                    font-size: 18px;
                    font-family: 'Montserrat';
                }
            }

            .teachers {
                @include flex-align-center;
            }
        }

        p {
            max-width: 800px;
            text-align: left;
        }
    }

    .notification {
        background-color: #FFFFFF;
        border-radius: 25px;
        padding: 1rem;
        margin: 3rem 0 7rem 0;
        flex-basis: 300px;

        h4 {
            color: #5E5DBA;
            font-size: 24px;
            font-weight: 500;
            font-family: 'Poppins';
        }

        h6 {
            font-weight: 600;
            font-family: 'Poppins';
            color: #000000;
            font-size: 20px;
        }

        span {
            color: #1565C0;
        }

        .time {
            background-color: #000000B2;
            display: block;
            width: 400px;
            height: 1px;
            margin: 1rem 0;
        }
    }
}

@media screen and (max-width:980px) {
    .intro-to {

        // display: block;
        .intro {

            .introduction {
                .mathematics {
                    .teachers {
                        display: block;
                    }

                    a {
                        margin: 0;
                    }
                }
            }

            .search {
                width: 80%;
            }

            .introduction {
                // margin:1rem .8rem;
                padding: 1rem;

                .mathematics a {
                    margin: 0;

                    .teachers {
                        display: block;
                    }
                }
            }
        }
    }
}