@import '../scss/mixins';

.courses{
    @include flex-align-center;
    @include padding;

h3{
    text-align: center;
}
    .subjects{
        background-color: #FFFFFF;
        border-radius: 25px;
        box-shadow: 0px 4px 20px 0px #21209C1A;
    
        button{
            background-color: transparent;
        display: block;
        border:none;
        margin: 1rem 3rem;
        padding: 1rem 0rem;
        color:#000000;
        font-size: 18px;
        font-family: "Open Sans";
    }
    :hover{
        color:#5E5DBA;
    }
    }
    .subject-intro{
       @include flex-align-center;
       background-color: #FFFFFF;
    //    margin: 2rem 9rem;
       border-radius: 20px;
       padding: 3rem;
    }
}