@import '../scss/mixins';


.teachers-profile {
    background-color: #E6E6E8;
    padding: 0 0 5rem 0;
    border-bottom: 1px solid #C4C4C4;

    .teachers {
        padding: 6rem 5rem;
        background-color: #C4C4C4;

        figure img {
            margin: 0 0 -8rem 0rem;
            padding-bottom: -6rem;
            width: 15%;
        }

        .edit {
            border: 3px solid #5E5DBA;
            padding: 1rem 2rem;
            text-align: center;
            border-radius: 10px;
            background-color: #FFFFFF;
            box-shadow: 0px 4px 20px 0px #033E6833;
            float: right;
            margin: -3rem 0;

            .edit img {
                max-width: 100%;
                height: auto;
            }

            .edit-btn {
                font-family: "Poppins";
                font-size: 20px;
                background-color: transparent;
                font-weight: 700;
                color: #5E5DBA;

            }
        }
    }

    .profile {
        @include flexbox;
        @include padding;
        position: relative;

        h2 {
            color: #5E5DBA;
        }

        .name {
            @include flex-align-center;

            .approved {
                display: flex;
                align-items: center;
            }

            #approved {
                display: flex;
                align-items: center;

                h5 {
                    color: #FDB827;
                }

                span {
                    background-color: #FDB827;
                }
            }

            .pending {
                display: flex;
                align-items: center;

                span {
                    background-color: #F45050;
                }

                h5 {
                    color: #F45050;
                }
            }

            span {
                display: block;
                background-color: #2CC706;
                height: 10px;
                width: 10px;
                border-radius: 8rem;
            }

            h5 {
                color: #2CC706;
            }
        }

        .yellow {
            position: absolute;
            right: 1rem;
            bottom: 1rem;
            width: 2%;
        }
    }

    #school {
        @include padding;
    }
}

@media screen and (max-width:980px) {
    .teachers-profile {
        // margin: 2rem 0;

        .teachers {
            padding: 6rem 1rem;

            .edit {
                margin-top: -4rem;
            }

            figure img {
                width: 50%;
            }
        }

        .profile {
            display: block;
            margin: 1rem;

            h2 {
                font-size: 18px;
            }

            .name {
                display: block;

                .approved {
                    margin: 1rem;
                }
            }

            .yellow {
                width: 10%;
            }
        }
    }
}