@import '../../scss/mixins';

.About {
    display: flex;
    gap: 2rem;
    @include padding;

    .about-intro {
        background-color: #FFFFFF;
        display: flex;
        gap: 1rem;
        padding: 1rem 2.5rem;
        margin: 1rem 0;
        box-shadow: 0px 4px 20px 0px #21209C33;
        border-radius: 25px;

        .about {
            text-align: center;

            >div {
                align-items: center;
                display: flex;
                gap: 1rem;
                padding: .7rem 0;
            }
        }
    }
}

@media screen and (max-width:980px) {
    .About {
        display: block;

        .about-intro {
            margin: 1.4rem 1rem;
            text-align: center;
            display: block;

            .about {
                >div {
                    display: block;
                    text-align: center;
                }
            }
        }
    }
}