@import '../../scss/mixins';


header {
    background-color: #FFFFFF;
    // padding-bottom: 0;
    // position: fixed;
    // width: 91%;
    // z-index: 10;
    box-shadow: 0px 4px 20px 0px #033E681A;
    padding: 0 3.5rem;

    nav {
        @include flexbox;

        .logo {
            @include flexbox;
        }

        .navlinks {
            @include flex-align-center;

            a {
                margin: 0 1rem;
                text-decoration: none;
                color: #5E5DBA;
                font-weight: 500px;
                font-size: 24px;
                font-family: 'Montserrat';
            }
        }
    }
}

@media screen and (max-width:980px) {
    header {
        padding: .4rem;

        nav {
            h1 {
                font-size: 16px;
            }

            a,
            .logo img {
                display: none;

            }
        }
    }
}