@import '../../scss/mixins';

header {
    z-index: 1000;
    position: relative;
    padding-bottom: 6rem;

    nav {
        position: fixed;
        padding: 0 3.5rem;
        box-shadow: 0px 4px 20px 0px #033E681A;
        @include flexbox;
        background-color: #FFFFFF;
        // width: 100%;
        top: 0;
        right: 0;
        left: 0;

        .logo {
            @include flexbox;
        }

        .navlinks {
            @include flex-align-center;

            a {
                // margin: 0 1rem;
                text-decoration: none;
                color: #5E5DBA;
                font-weight: 500px;
                font-size: 24px;
                font-family: 'Montserrat';
            }

            .signup {
                font-family: 'Poppins';
                font-size: 24px;
                color: #5E5DBA;
                border: 3px solid #5E5DBA;
                box-shadow: 0px 4px 20px 0px #033E6833;
                border-radius: 15px;
                padding: .6rem 2rem;
            }

            .active {
                transition: all .4s ease-in-out;

            }
        }
    }

    .hamburger {
        display: none;
    }
}


@media screen and (max-width:980px) {
    header {
        nav {
            padding: .7rem 1rem;

            h1 {
                font-size: 20px;
            }

            .logo img {
                display: block;
            }

            .hamburger {
                display: block;
            }

            .navlinks {
                padding: 2rem;
                max-width: 700px;
                height: 500px;
                background: #C4C4C4;
                position: absolute;
                flex-direction: column;
                align-items: flex-start;
                top: 100%;
                right: -0;
                transition: all ease .4s;
                pointer-events: none;
                opacity: 0;

                .active {
                    // color: #000000;
                    transition: all ease-in-out 4s;

                }
            }

            .navlinks__close {
                pointer-events: all;
                opacity: 0;
                right: 0;
            }

        }
    }

}