@import '../scss//mixins';

.CV {
    background: #FFFFFF;
    width: 399px;
    border: 0.5px solid #000000;
    padding: 3rem 0 0 0;
    margin: 1rem 3rem;

    .PDF {
        @include padding;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #F45050;
        padding: .6rem 0;

        .download-img {
            width: 70%;
        }
    }
}

@media screen and (max-width:980px) {
    .CV {
        display: block;
        margin: 1rem auto;
        width: 300px;
    }
}