@import '../scss/mixins';


.search {
    // display: flex;
    // align-items: center;

    form {
        // padding: 0;
        display: flex;
        gap: 3rem;
        align-items: center;

        input {
            background: #FFFFFF;
            border-radius: 30px;
            width: 740px;
            border: transparent;
            display: flex;
            align-items: center;
            margin: 3rem 2rem 0rem 0;
            padding: 15px 4px 9px 40px;
            outline: none;
            background-image: url('../assets/mdi_search.png');
            background-repeat: no-repeat;
            background-position: 1% 100%;

        }

        ::placeholder {
            color: #AEAEAE;
            font-size: 20px;
            font-family: 'monsterrat';
            font-weight: 600;
            margin: 0 3rem;
            padding: 0 2rem;
        }
    }
}

@media screen and (max-width:980px) {
    .search {
        form {
            input {
                width: 300px;
            }

        }
    }
}