@import '../scss/mixins';


.search {
    form {
        padding: 0;

        input {
            border-radius: 30px;
            width: 740px;
            background: #FFFFFF;
            border: transparent;
            display: block;
            margin: 3rem 2rem 0rem 0;
            padding: 15px 4px 9px 40px;
            outline: none;
            background-image: url('../assets/mdi_search.png');
            background-repeat: no-repeat;
        }

        input[type="search"] {
            color: #AEAEAE;
            font-size: 15px;
            font-family: 'monsterrat';
            font-weight: 600;
        }
    }
}

@media screen and (max-width:980px) {
    .search {
        form {
            input {
                width: 350px;
            }

        }
    }
}