@import '../../../scss/mixins';
@import '../../registeration/error.scss';

.welcome__intro {
    // @include padding;

    .access-best {
        box-shadow: 4px 4px 4px 9px #00000033;
        padding: 1rem 3rem;
        margin: 1rem .3rem;

        .access {
            .signup {
                font-family: 'Poppins';
                font-size: 24px;
                color: #5E5DBA;
                border: 3px solid #5E5DBA;
                box-shadow: 0px 4px 20px 0px #033E6833;
                border-radius: 15px;
                padding: .6rem 2rem;

            }
        }
    }

    .register {
        position: relative;

        .yellow {
            position: absolute;
            left: .1rem;
            bottom: 8rem;
        }

        .yellowed {
            position: absolute;
            right: 1rem;
            top: 8rem;
        }

        .registered {
            flex-wrap: wrap;
            @include flex-align-center;
            @include padding;

            .number {
                background-color: #FFFFFF;
                display: flex;
                gap: 2rem;
                box-shadow: 0px 4px 20px 0px #21209C26;
                padding: 4rem 5rem;
                margin: 3rem auto;
                border-radius: 25px;
                text-align: center;
                flex-basis: 300px;

                >div {
                    background-color: #FFFFFF;
                    padding: 1rem;
                    box-shadow: 0px 4px 4px 0px #21209C33 inset;
                    color: #5E5DBA;
                    font-family: 'Montserrat';
                    font-size: 100px;
                    font-weight: 700;
                }
            }
        }

        .school {
            @include padding;
            display: flex;
            justify-content: space-around;

            p {
                display: block;
                margin: 0 auto;
                font-family: 'Montserrat';
                font-size: 30px;
                font-weight: 700;
                color: #5E5DBA;
            }
        }
    }

    .who-we-are {
        @include padding;
        @include flexbox;
        flex-wrap: wrap;
        margin: 6rem 0;
        position: relative;

        .circle {
            position: absolute;
            top: -1rem;
            width: 50px;
            left: 7rem;
        }

        #circled {
            position: absolute;
            top: 1rem;
            width: 70px;
            left: 25rem;
        }

        .vector {
            position: absolute;
            left: -1rem;
            width: 25%;
            z-index: -1000;
            top: 1rem;
        }

        #yellow {
            position: absolute;
            top: 3rem;
            width: 3%;
            left: 19rem;
        }

        >div {
            flex-grow: 1;
            flex-basis: 300px;
        }

        p {
            line-height: 40px;
        }

        .signup {
            font-family: 'Poppins';
            font-size: 24px;
            color: #5E5DBA;
            border: 3px solid #5E5DBA;
            box-shadow: 0px 4px 20px 0px #033E6833;
            border-radius: 15px;
            padding: .6rem 2rem;
        }
    }

    .the-app {
        @include flexbox;
        @include padding;
        @include padding-top;
        flex-wrap: wrap;
        position: relative;

        >div,
        figure {
            flex-basis: 300px;
            flex-grow: 1;
        }

        .circled {
            position: absolute;
            width: 5%;
            // left: 1rem;
        }

        .yelow {
            position: absolute;
            width: 1%;
            top: 1rem;
            // left: .1rem;
        }

        .Vectors {
            position: absolute;
            right: -3rem;
            width: 25%;
            bottom: 1rem;
            top: 7rem;
            z-index: -1000;
        }

        .circles {
            position: absolute;
            // left: 1rem;
            bottom: 5rem;
            right: 17rem;
            z-index: -1000;
        }
    }

    .who-we-are {
        @include flexbox;
        flex-wrap: wrap;
        position: relative;

        .question {
            position: absolute;
            left: 25rem;
            top: 8rem;
        }

        >div,
        figure {
            flex-basis: 400px;
            flex-grow: 1;
        }

        .signup {
            font-family: 'Poppins';
            font-size: 24px;
            color: #5E5DBA;
            border: 3px solid #5E5DBA;
            box-shadow: 0px 4px 20px 0px #033E6833;
            border-radius: 15px;
            padding: .6rem 2rem;
            display: block;
            margin: 6rem auto;
        }

        .circleds {
            position: absolute;
            bottom: 15rem;
            width: 5%;
            left: 38rem;
        }

        .yellows {
            position: absolute;
            bottom: 15rem;
            width: 2%;
            left: 48rem;

        }
    }

    .contact {
        text-align: center;
        position: relative;

        #yellow-circle {
            position: absolute;
            width: 3%;
            left: 4rem;
            bottom: 15rem;
        }

        .yellow-circle {
            position: absolute;
            width: 3%;
            right: 2rem;
            top: 2rem;
        }

        form {
            label {
                font-family: 'Montserrat';
                font-weight: 600;
                font-size: 35px;
            }

            input {
                background-color: #FFFFFF;
                box-shadow: 0px 4px 4px 0px #21209C33 inset;
                padding: 1rem;
                border-radius: 23px;
                color: #C4C4C4;
                outline: none;

                .error {
                    text-align: center;
                }
            }
        }

        .signup {
            font-family: 'Poppins';
            font-size: 24px;
            color: #5E5DBA;
            border: 3px solid #5E5DBA;
            box-shadow: 0px 4px 20px 0px #033E6833;
            border-radius: 15px;
            padding: .6rem 2rem;
            margin: 4rem 0;
        }
    }
}