@import '../../scss/mixins';

footer {
    @include flexbox;
    @include padding;
    background-color: #E6E6E8;
    flex-wrap: wrap;


    .logo {
        display: flex;
        align-items: center;
        gap: 1rem;
        flex-basis: 400px;
        align-items: center;
        font-size: 15px;
    }

    .social-apps {
        flex-basis: 280px;

        p {
            color: #5E5DBA;
            font-family: 'Open Sans';
            font-size: 18px;
            font-weight: 400;
        }
    }
}